name: "Publish to the Extension Registry"
on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "platforms/**"
      - "extensions/**"
      - "patch.sh"
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run Publish Catalog script
        uses: jbangdev/jbang-action@v0.100.1
        with:
          script: catalog_publish@quarkusio
          scriptargs: --working-directory=. --all
          trust: https://github.com/quarkusio/
        env:
          REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
          REGISTRY_TOKEN: ${{ secrets.REGISTRY_TOKEN }}

      - name: Patch the registry
        run: ./patch.sh
        env:
          REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
          REGISTRY_TOKEN: ${{ secrets.REGISTRY_TOKEN }}
